#map-container {
    height: calc(100vh - 100px); /* Ensure this matches the header height */
    width: 100%;
    background-color: rgb(148, 108, 108); /* Temporary for debugging */
}

.sidebar {
    background-color: rgba(62, 65, 67, 0.515);
    color: #fbfafa;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 10; /* Increase z-index to ensure visibility */
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px;
    border-radius: 4px;
}

.reset-button {
    position: absolute;
    top: 50px;
    z-index: 10; /* Ensure it is above other elements */
    left: 12px;
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
}