#map-container {
    height: 100%; /* Ensure this matches the header height */
    width: 100%;
    background-color: rgb(148, 108, 108); /* Temporary for debugging */
}

.sidebar {
    background-color: rgb(62, 65, 67);
    color: #fbfafa;
    padding: 5px 10px;
    font-family: monospace;
    z-index: 10; /* Ensure it is above other elements */
    position: absolute;
    bottom: 0; /* Move to the bottom */
    right: 0; /* Move to the right */
    margin: 0;
    border-radius: 4px;
}

.reset-button {
    position: absolute;
    right: 400px; /* Adjusted to position relative to the sidebar */
    bottom: 0; /* Added to ensure it's not at the very bottom */
    z-index: 10; /* Ensure it is above other elements */
    padding: 4px 10px;
    border-radius: 10px;
    cursor: pointer;
}